<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 应用使用蓝牙的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 启动设备发现或操作蓝牙设置的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 位置权限 -->
    <!-- Android 10以上系统，需要ACCESS_FINE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Android 9以及以下系统，需要ACCESS_FINE_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 极光推送所需权限 -->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 删除重复的权限 -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 删除重复的权限 -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".CHMSApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CHMS"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        
        <!-- 添加医生履历编辑Activity -->
        <activity
            android:name=".features_doctor.activity.DoctorProfileEditActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
            
        <!-- 添加医生主界面Activity -->
        <activity
            android:name=".features_doctor.DoctorMainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
            
        <activity
            android:name=".features.health.activity.HealthInfoActivity"
            android:exported="false" />
        <activity
            android:name=".features.analysis.activity.ReportAnalysisShowActivity"
            android:exported="false" />
        <activity
            android:name=".features.mine.activity.UserEditActivity"
            android:exported="false" />
        <activity
            android:name=".features.mine.activity.ReservationManageActivity"
            android:exported="false" />
        <activity
            android:name=".features.mine.activity.ReservationActivity"
            android:exported="false" />
        <activity
            android:name=".features.analysis.activity.ReportAnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".features.health.activity.DailyHealthReportActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:windowTranslucentStatus="true"
            android:exported="false" />
        <activity
            android:name=".features.home.activity.HealthInfoSubmitActivity"
            android:exported="false" />
        <activity
            android:name=".features.home.activity.CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".features.home.activity.DoctorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".features.home.activity.DoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".features.report.activity.DailyReportActivity"
            android:exported="false" />
        <activity
            android:name=".features.home.activity.DeviceManagerActivity"
            android:exported="false" />
        <activity
            android:name=".login.activity.PwdForgetActivity"
            android:exported="false" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".features.health.activity.HealthReportHistoryActivity"
            android:exported="false" />

        <!-- 极光推送相关配置 -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="${JPUSH_CHANNEL}"
            tools:replace="android:value" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}"
            tools:replace="android:value" />

        <!-- 用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- 接收自定义消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- 接收通知的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- 用户点击通知的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化的intent -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- 添加JPush必要组件 -->
        <!-- 自定义JPushMessageReceiver -->
        <receiver
            android:name=".receiver.JPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- 自定义JCommonService -->
        <service
            android:name=".service.JPushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
    </application>

</manifest>